keyframes(name)
  width: 100%
  @-webkit-keyframes {name}
    {block}
  @-webkit-keyframes {name}
    {block}
  @-moz-keyframes {name}
    {block}
  @-ms-keyframes {name}
    {block}
  @keyframes {name}
    {block}

transition()
  -ms-transition arguments
  -moz-transition arguments
  -webkit-transition arguments
  -o-transition arguments
  transition arguments

transform()
  -ms-transform arguments
  -moz-transform arguments
  -webkit-transform arguments
  -o-transform arguments
  transform arguments

animation()
  -ms-animation arguments
  -moz-animation arguments
  -webkit-animation arguments
  -o-animation arguments
  animation arguments

animation-delay()
  -ms-animation-delay arguments
  -moz-animation-delay arguments
  -webkit-animation-delay arguments
  -o-animation-delay arguments
  animation-delay arguments

no-selection()
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

ellipsis()
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

flexbox()
  display: -webkit-flex
  display: flex

flex-wrap(arg)
  -webkit-flex-wrap: arg
  flex-wrap: arg

flex(arg)
  -webkit-flex: arg
  flex: arg

